<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.renren" level="TRACE" />

    <!-- 开发环境 -->
    <springProfile name="dev">
        <logger name="org.springframework" level="INFO"/>
        <logger name="io.renren" level="DEBUG" />
    </springProfile>

    <!-- 内网测试环境 -->
    <springProfile name="test">
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.quartz" level="WARN" />
        <logger name="io.renren" level="WARN" />
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="beta,pro">
        <!--<logger name="org.springframework" level="INFO"/>-->
        <!--<logger name="org.quartz" level="INFO" />-->
        <!--<logger name="io.renren" level="DEBUG" />-->
        <logger name="org.springframework" level="INFO"/>
        <logger name="io.renren" level="DEBUG" />
    </springProfile>
</configuration>