<!DOCTYPE html>
<html>
<head>
<title>任务统计</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../libs/date-utils.js"></script>
<script src="../../libs/echarts_utils.js"></script>
<style>
	.time-selector {
		width: 180px;
		float: left;
		margin-top: -5px;
		z-index: 1000;
		margin-left: 600px;
		position: absolute;
	}
	.stats-div{
		width: 860px;
		display: inline-table;
		margin-top: 20px;
	}
</style>
</head>
<body>

	<div class="stats-div">
		<div>
			<input id="task_stats_day_date" type="text" class="form-control time-selector" placeholder="查看一段时间的数据">
		</div>
		<div id="task_stats_day" style="width:850px;height:400px;"></div>
	</div>

	<div class="stats-div">
		<div>
			<input id="task_stats_hour_date" type="text" class="form-control time-selector" placeholder="查看一段时间的数据">
		</div>
		<div id="task_stats_hour" style="width: 850px;height:400px;"></div>
	</div>

	<div class="stats-div">
		<div>
			<input id="task_stats_month_date" type="text" class="form-control time-selector" placeholder="查看一段时间的数据">
		</div>
		<div id="task_stats_month" style="width:850px;height:400px;"></div>
	</div>

	<!--<div class="stats-div">-->
		<!--<div>-->
			<!--<input id="task_stats_year_date" type="text" class="form-control time-selector" placeholder="查看一段时间的数据">-->
		<!--</div>-->
		<!--<div id="task_stats_year" style="width:850px;height:400px;"></div>-->
	<!--</div>-->

<script src="../../plugins/layer/laydate/laydate.js"></script>
<script src="../../libs/echarts.min.js"></script>
<script src="../../js/modules/stats/taskstats.js"></script>
</body>
</html>